<div class="bg-zinc-900 flex justify-center items-center h-screen flex-col gap-20">
    <div class="flex justify-between w-[768px]">
        <span class="text-center text-white text-5xl">Score: {{ score() }}</span>
        <span class="text-center text-white text-5xl">Total Hit: {{ totalHit() }}</span>
        <span class="text-center text-red-500 text-5xl">Acc: {{ acc() | percent }}</span>
    </div>
    <div class="grid grid-cols-3 grid-rows-3 h-[492px] w-[768px]">
        @for (cell of cells; track cell; let index = $index) {
            <div class="bg-contain bg-no-repeat"
                [ngClass]="index === molePosition() ? 'mole' : 'hole'"
                (click)="hit(index)">
            </div>
        }
    </div>
</div>